BasedOnStyle: Microsoft
IndentWidth: 4
UseTab: Always
AccessModifierOffset: 0
AccessModifierOffset: -4
# IndentAccessModifiers: false 
# does not work
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html